Flask==3.0.3
gunicorn==21.2.0
python-telegram-bot==21.6
diffusers==0.17.0  # Adjust version as needed for compatibility
torch==2.0.1  # Make sure to specify the appropriate version for your setup
opencv-python-headless==4.10.0.84
pillow==10.4.0
